@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

$dark-blue: #051821;
$blue: #1a4645;
$light-blue: #266867;
$orange: #f58800;
$light-orange: #f8bc24;

$dark-blue-shadow: rgba(5, 24, 33, 0.5);
$blue-shadow: rgba(26, 70, 69, 0.5);
$light-blue-shadow: rgba(38, 104, 103, 0.5);
$orange-shadow: rgba(245, 136, 0, 0.5);
$light-orange-shadow: rgba(248, 188, 36, 0.5);

$default-size: 16px;

$font-family:'Courier Prime', monospace;