@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-size: $default-size;
  font-family: $font-family;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-orange-shadow;

  .calculator {
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: $default-size;
    overflow: hidden;
    box-shadow: 3px 5px 10px $light-blue-shadow;

    .display {
      padding: $default-size;
      text-align: right;
      background-color: $dark-blue;
      color: $light-orange;

      span {
        color: $light-orange-shadow;
      }
    }

    .operators{
      display:flex;
      button{
        flex: 1 1 0%;
        background-color: $orange;
      }
    }

    .digits{
      display:flex;
      flex-wrap:wrap;
      button{
        flex: 1 1 33.333%;
        background-color: $dark-blue-shadow;
      }
    }

    button {
      appearance: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: $dark-blue;
      font-weight: bold;
      font-family: $font-family;
      transition: 0.4s;

      &:hover {
        opacity: 0.9;
        color: $light-orange;
      }
    }
  }
}
